registry=https://ui-libs-292474393014.d.codeartifact.ap-south-1.amazonaws.com/npm/ui-core/
//ui-libs-292474393014.d.codeartifact.ap-south-1.amazonaws.com/npm/ui-core/:always-auth=true
//ui-libs-292474393014.d.codeartifact.ap-south-1.amazonaws.com/npm/ui-core/:_authToken=${CODEARTIFACT_AUTH_TOKEN}