registry=https://libs-698866732047.d.codeartifact.ap-south-1.amazonaws.com/npm/code-arti-lib/
//libs-698866732047.d.codeartifact.ap-south-1.amazonaws.com/npm/code-arti-lib/:always-auth=true
//libs-698866732047.d.codeartifact.ap-south-1.amazonaws.com/npm/code-arti-lib/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
